:root {
    --background-color:rgb(0,0,0);
    --text-color:rgb(255, 255, 255);
}
.card-container {
    display:flex;
    grid-template:repeat(auto-fit,1fr)/repeat(auto-fit,1fr);
    width:100%;
    height:300px;
    border:1px solid red;
}
.card {
    display:flex;
    flex-direction:column;
    flex:1;
    min-width: 75px;
    min-height: 100px;
    border:1px solid green;
}
.title,.author,.language,.pages,.ID {
    flex:1;
    text-align: center;
    margin:0.1rem;
}